<!-- navbar -->
<div class="page">
    <section class="categories">
        <div class="create-cat">
            <span class="title">Existing Product Categories</span>
            <button style="float: right;" class="button-theme">Create New Category</button>
        </div>
        <div class="cat">
            <div class="cat-name"><span>Appliances </span></div>
            <div class="cat-name"><span>Beauty & Personal Care</span></div>
            <div class="cat-name"><span>Home</span></div>
            <div class="cat-name"><span>Collectibles</span></div>

            <div class="cat-name"><span>Industrial & Scientific</span></div>
            <div class="cat-name"><span>Office Products & Scientific</span></div>
            <div class="cat-name"><span>Clothing & Accessories</span></div>
            <div class="cat-name"><span>Fashion</span></div>
            <div class="cat-name"><span>Musical Instruments</span></div>


        </div>

    </section>

    <hr style="background-color: darkgrey;">
    <section class="products">
        <div style="padding: 10px 0;">
            <span class="title">Manage Products</span>
            <button style="float: right;" class="button-theme">  Create New Product  </button>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="product">
                    <img src = "https://www.reliancedigital.in/medias/Apple-MUUT2HN-A-Tablet-491551016-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3w0MTcwMXxpbWFnZS9qcGVnfGltYWdlcy9oNjMvaGI1LzkxMjU0ODA4OTAzOTguanBnfGQ1OTNhOGRlOTcxNmNlZDZhNjNlZTZlMGEwOGUxOTBlYmViYTIwNGIxYTRmNDc1ZTA4MmNmZjZmNzM0ODU0ODg">                  
                        <div class="product-name">
                        <span>Ipad Pro GenX Apple M1</span>
                    </div>
                    <div class="product-desc">
                        <span>

                            With M1, iPad Pro is the fastest device of its kind. It’s designed to take full advantage of next‑level performance and custom technologies 
                        </span>
                    
                    </div>
                    <div class="product-edit">
                        <button style="width: 100%; margin-bottom: 5px;" class="button-price">
                            $6,699 
                        </button>
                    
                        <button style="width: 100%;" class="button-theme">
                            Edit Product
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <img src = "
                    https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/ipad-pro-12-select-wifi-spacegray-202104_FMT_WHH?wid=1945&hei=2000&fmt=jpeg&qlt=95&.v=1617126635000                    ">
                    
                    <div class="product-name">
                        <span>Ipad Pro GenX Apple M1</span>
                    </div>
                    <div class="product-desc">
                        <span>

                            With M1, iPad Pro is the fastest device of its kind. It’s designed to take full advantage of next‑level performance and custom technologies
                        </span>
                    
                    </div>
                    <div class="product-edit">
                        <button style="width: 100%; margin-bottom: 5px;" class="button-price">
                            $6,699 
                        </button>
                    
                        <button style="width: 100%;" class="button-theme">
                            Edit Product
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <img src = "https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/ipad-mini-select-201911_FMT_WHH?wid=2000&hei=2000&fmt=jpeg&qlt=80&.v=1573825332486">
                    <div class="product-name">
                        <span>Ipad Pro GenX Apple M1</span>
                    </div>
                    <div class="product-desc">
                        <span>

                            With M1, iPad Pro is the fastest device of its kind. It’s designed to take full advantage of next‑level performance and custom technologies
                        </span>
                    
                    </div>
                    <div class="product-edit">
                        <button style="width: 100%; margin-bottom: 5px;" class="button-price">
                            $6,699 
                        </button>
                    
                        <button style="width: 100%;" class="button-theme">
                            Edit Product
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product">
                    <img src = "
                    https://www.reliancedigital.in/medias/Apple-MUUT2HN-A-Tablet-491551016-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3w0MTcwMXxpbWFnZS9qcGVnfGltYWdlcy9oNjMvaGI1LzkxMjU0ODA4OTAzOTguanBnfGQ1OTNhOGRlOTcxNmNlZDZhNjNlZTZlMGEwOGUxOTBlYmViYTIwNGIxYTRmNDc1ZTA4MmNmZjZmNzM0ODU0ODg">                    <div class="product-name">
                        <span>Ipad Pro GenX Apple M1</span>
                    </div>
                    <div class="product-desc">
                        <span>

                            With M1, iPad Pro is the fastest device of its kind. It’s designed to take full advantage of next‑level performance and custom technologies
                        </span>
                    
                    </div>
                    <div class="product-edit">
                        <button style="width: 100%; margin-bottom: 5px;" class="button-price">
                            $6,699 
                        </button>
                    
                        <button style="width: 100%;" class="button-theme">
                            Edit Product
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>