<div style="margin: 50px 400px; ">
    <div>
        <span class="title">
        Edit Product
        </span>

        <button style="float: right;
        
        background-color: rgb(236, 19, 19);
        " class="button-theme">Delete Product Permenantly</button>
        
    </div>
    <br>
    <br>
    <div class="prodcut-form">
        <form class="form-product" action="">
            <span> Edit Product Name</span>
            <input type="text">
            <br><br>
            <div><span>Product Description</span>
            </div>
                <textarea style="width: 100%;" rows="4"  name="description"></textarea>
            <br><br>
            <span>Price in Dollars($)</span>
            <input type="number">
            <br><br>
            
            <span>Thumbnail Image</span>
                <input type="file" name="image">
            <br><br>

            <span>
                Category
            </span>
            <select name="category">
                <option>Fashion</option>
            </select>
            <br><br>

            <button style="width: 100%;" type="submit" name="submit" class="button-theme">
                Update Product
            </button>
            
        </form>
    </div>
</div>