<div style="margin: 50px 400px; ">
    
    <section class="categories">
        <div class="create-cat" >
            <span class="title">Existing Product Categories</span>
        </div>
        <div class="cat">
            <div class="cat-name"><span>Appliances </span></div>
            <div class="cat-name"><span>Beauty & Personal Care</span></div>
            <div class="cat-name"><span>Home</span></div>
            <div class="cat-name"><span>Collectibles</span></div>

            <div class="cat-name"><span>Industrial & Scientific</span></div>
            <div class="cat-name"><span>Office Products & Scientific</span></div>
            <div class="cat-name"><span>Clothing & Accessories</span></div>
            <div class="cat-name"><span>Fashion</span></div>
            <div class="cat-name"><span>Musical Instruments</span></div>


        </div>

    </section>

    <hr>


    <div style="padding: 20px 0;" >
        <span  class="title">
        Add new Category
        </span>

    </div>
    
    <div class="prodcut-form">
        <form class="form-product" action="">
            <span> Enter Category Name</span>
            <input type="text">
            <br><br>
            <button style="width: 100%;" type="submit" name="submit" class="button-theme">
                Create Category
            </button>
            
        </form>
    </div>
</div>