<div style="margin: 50px 400px; ">
    <div style="text-align: center;" >
        <span class="title">
        Register
        </span>
    </div>
    <br>
    <br>
    <div class="prodcut-form">
        <form  (ngSubmit)="register()" class="form-product" action="">
            <span>Enter name</span>
            <input [(ngModel)]="registerPost.name" name="name" type="text">
            <br><br>
           
            <span>Enter email</span>
            <input  [(ngModel)]="registerPost.email" name="email" type="email">
            <br><br>
            
            <span>Create Password</span>
                <input  [(ngModel)]="registerPost.password" type="password" name="password">
            <br><br>

           

            <button style="width: 100%;" type="submit" name="submit" class="button-theme">
                Register Account
            </button>
            <div style="text-align: center; padding-top: 5px;">
                <span>Already have an account? <a [routerLink]="['/login']" > Login</a>  </span>
            </div>
        </form>
    </div>
</div>