<div style="margin-bottom: 20px;" class="product">
	<div style="text-align: center;">
		<img src="{{photo}}" />
	</div>
	<div class="product-name">
		<span>{{ p.name }}</span>
	</div>
	<div class="product-desc">
		<span
			style="
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 4; /* number of lines to show */
				-webkit-box-orient: vertical;
			"
		>
			{{ p.description }}
			<!-- With M1, iPad Pro is the fastest device of its kind. It’s designed to take full advantage of next‑level performance and custom technologies  -->
		</span>
	</div>
	<span
		>Status : <span *ngIf="p.available==true">Available</span
		><span *ngIf="p.available==false">Unavailable</span></span
	>
	<div class="product-edit">
		<span
			style="
				margin: 10px 0;
				font-size: 20px;
				font-weight: 600;
				width: 100%;
				margin-bottom: 5px;
			"
		>
			₹{{ p.price }}
		</span>
		<button
			[routerLink]="['/edit-product/', p._id]"
			routerLinkActive="router-link-active"
			style="width: 100%; margin: 10px 0px;"
			class="button-theme"
		>
			Edit Product
		</button>
	</div>
</div>
