<app-navbar></app-navbar>

<div class="page">
	<div class="d-flex flex-row-reverse">
		<input
			placeholder="Search"
			class="search"
			(keydown)="onKeydown($event)"
			type="text"
			[(ngModel)]="search"
			name="search"
		/>
		<i
			class="fa fa-search fa-lg"
			style="margin-right: -1.3em; margin-top: 0.6em;"
			aria-hidden="true"
		></i>
	</div>
	<section class="categories">
		<div class="create-cat">
			<span class="title">Existing Product Categories</span>
			<button
				[routerLink]="['/create-category']"
				style="float: right;"
				class="button-theme"
			>
				Create New Category
			</button>
		</div>
		<div class="cat">
			<div *ngFor="let c of categories" class="cat-name">
				<span
					style="cursor: pointer;"
					[routerLink]="['/edit-category/', c._id]"
					routerLinkActive="router-link-active"
					>{{ c.name }}
				</span>
			</div>
		</div>
	</section>

	<hr style="background-color: darkgrey;" />
	<section class="products">
		<div style="padding: 10px 0;">
			<span class="title">Manage Products</span>
			<button
				[routerLink]="['/create-product']"
				style="float: right;"
				class="button-theme"
			>
				Create New Product
			</button>
		</div>
		<div class="cat">
			<div
				*ngFor="let c of categories"
				[ngClass]="category == c.name ? 'selected' : 'my_class2'"
				class="cat-name"
			>
				<span style="cursor: pointer;" (click)="onSearchByCat(c.name)"
					>{{ c.name }}
				</span>
			</div>
		</div>
		<br />
		<div class="row">
			<div *ngFor="let p of products" class="col-md-3">
				<app-admin-product-template [p]="p"></app-admin-product-template>
			</div>
		</div>
	</section>
</div>
