<div style="margin: 50px 400px; ">
    <div style="text-align: center;" >
        <span class="title">
        Login
        </span>
    </div>
    <br>
    <br>
    <div class="prodcut-form">
        <form name="login" class="form-product" action="">
            
           
            <span>Enter email</span>
            <input type="email">
            <br><br>
            
            <span>Enter Password</span>
                <input type="password" name="password">
            <br><br>

           

            <button style="width: 100%;" type="submit" name="submit" class="button-theme">
                Log in
            </button>
            <div style="text-align: center; padding-top: 5px;">
                <span>Don't have an account? <a [routerLink]="['/register']" > Register</a>  </span>
            </div>
        </form>
    </div>
</div>