<div class="container">
    <div class="jumbotron">
        <h1>Welcome to summer sale!</h1>      
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, omnis! Lorem ipsum dolor sit amet.</p>
        <h6>*50% off on all products</h6>
    </div>
    <div class="card" style="padding: 2rem;">
        <div class="row">
            
        </div>
        <div class="row">
            <div class="col-md-2"><app-product-template></app-product-template></div>
            <div class="col-md-2"><app-product-template></app-product-template></div>
            <div class="col-md-2"><app-product-template></app-product-template></div>
            <div class="col-md-2"><app-product-template></app-product-template></div>
            <div class="col-md-2"><app-product-template></app-product-template></div>
            <div class="col-md-2"><app-product-template></app-product-template></div>
        </div>
    </div>
    
</div>