<br>
<div class="container">
  <div class="d-flex flex-row-reverse">
    <input class="search" (keydown)="onKeydown()" type="text" [(ngModel)] = "search" name="search">
    <i class="fa fa-search fa-lg" style="margin-right: -1.3em; margin-top: 0.6em;"aria-hidden="true"></i>
  </div>
  <section class="products" *ngFor="let categories of products">
    <div style="padding: 10px 0">
      <span class="title">{{ categories[0].category.name }}</span>
      <!-- redirect to view products by category page -->
      <a class="view-more" [routerLink]="['/view/',categories[0].category.name.toLowerCase().replace(':','').split(' ').join('-')]" [queryParams]="{ id: categories[0].category._id}">View more</a>
    </div>
    <br />
    <div class="scroll">
      <div *ngFor="let product of categories" class="col-md-3">
        <app-product-template [product]="product"></app-product-template>
      </div>
    </div>
    <hr style="background-color: darkgrey" />
  </section>
</div>
