/* ajays css */
/* .product {
  padding: 1em;
  border-radius: 0.5em;
  background-color: white;
  width: 14.2rem;
  height: 22rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

img {
  max-height: 120px;
  max-width: 100%;
}

.product-name {
  text-decoration: underline;
  text-align: center;
  font-size: 15px;
  font-weight: 600px;
  padding: 5px 0px;
  height: 60px;
}

.button-price {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid var(--blue);
  color: var(--blue);
  font-size: 10px;
}

.button-theme {
  font-size: 10px;
} */


/* aniket css */

.button-price {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid var(--blue);
  color: var(--blue);
  font-size: 15px;
}


.product img {
  /* align-items: center; */
  border-radius: 10px;
  height: 250px;
  max-width: 100%;
  /* object-fit: cover; */
}

.product:hover{
  background: white;
  cursor: pointer;
}
.product{
  transition: all 0.2s ease;
  padding: 5px;
}
.product-img{
  display: flex;
  justify-content: center;
  background: white;
}


.product-name span{
  text-decoration: underline;
  font-size: 17px;
  font-weight: 600px;
  margin-top: 10px ;
 
  
}


.product-edit{
  padding: 0px 5px;
}
