<!-- <div class="product" [routerLink]="['/product/' + product._id]">
  <img src="{{photo}}" />
<div class="product" [routerLink]="['/product/' + product._id]">
  <div class="image-container">
    <img src="{{photo}}" />
  </div>
  <div class="product-name">
    <span>{{ product.name }}</span>
  </div>
  <div style="text-align: center;">
    <span>₹{{ product.price }}</span>
  </div>
</div> -->

<div style="margin-bottom: 20px" class="product" [routerLink]="['/product/' + product._id]">
  <div class="product-img">

    <img src="{{ photo }}" />
  </div>
  <div class="product-name">
    <p 
    style="font-size: 15px; font-weight: 600; color:lightslategray "
  >
  {{ product.category.name }}
  </p>
    <span>{{ product.name }}</span>
  </div>

  <div class="product-edit ">
    <span 
      style="  font-size: 17px; font-weight: 600; width: 100%; margin-bottom: 5px"
    >
    ₹{{ product.price }} 

    <span *ngIf="product.stock==0" class="text-danger mx-2">Out of stock</span>
  </span>
 
  
  </div>
</div>