
.main-container{
    height: 50px;
}
.circles{
    height: 0.938em;
    width: 0.938em;
    border: 0.188em solid #808080;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active{
      background-color:#000000;
  }
  
  .circle-desc-active{
  color: rgb(0, 0, 0) !important;
  }
  
  .bar{
    width: 16%;
    height: 0.063em;
    margin-bottom:0.45em;
    border: 0.031em solid #808080;
    color:#808080;
    background-color:#808080;
    display: inline-block;
    text-align:center;
    margin:"0 auto";
  }

  .circle-desc{
    position: absolute;
    top:5.000em;
    color: rgb(102, 102, 102);
    font-size: 1.125em;
    width: auto;
    max-width:9.375em;
    margin-left:-0.750em;
    margin-top: 1.5em;
   }