<app-navbar></app-navbar>
<div style="margin: 50px 400px">
  <section class="categories">
    <div class="create-cat">
      <span class="title">Existing Product Categories</span>
    </div>
    <div class="cat">
      <div *ngFor="let c of categories" class="cat-name">
        <span style="cursor: pointer;"
          [routerLink]="['/edit-category/{{c._id}}']"
          routerLinkActive="router-link-active"
          >{{ c.name }}
        </span>
      </div>
    </div>
  </section>

  <hr />

  <div style="padding: 20px 0">
    <span class="title"> Add new Category </span>
  </div>

  <div class="prodcut-form">
    <form class="form-product" (ngSubmit)="createCategory()">
      <span> Enter Category Name</span>
      <input [(ngModel)]="categoryPost.name" name="name" type="text" />
      <br /><br />
      <button
        style="width: 100%"
        type="submit"
        name="submit"
        class="button-theme"
      >
        Create Category
      </button>
    </form>
  </div>
</div>
